<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
     <div [ngClass]="'container'">
       <div [ngClass]="'title'">Registration Form</div>
       <form #contactForm ="ngForm" (ngSubmit)=" onSubmit(contactForm)"  >
         <div [ngClass]="'userdetails'">
                  <div [ngClass]="'input-box'">
                    <span [ngClass]="'details'">First Name:</span>
                    <input type="text"  placeholder="Enter  Your Name" name="first" ngModel > 
                  </div>

                  <div [ngClass]="'input-box'">
                       <span [ngClass]="'details'">Last Name:</span>
                         <input type="text"  placeholder="Enter  Your  Last Name" name="Last" ngModel> 
                   </div>

                      <div [ngClass]="'input-box'">
                           <span [ngClass]="'details'">Email Id:</span>
                           <input type="Email" placeholder="Enter  Your Email" name="Email" ngModel> 
                       </div>

                      <div [ngClass]="'input-box'">
                        <span [ngClass]="'details'">Phone No:</span>
                           <input type="number" placeholder="Enter Your Number"  name="Number" ngModel> 
                     </div>
  

                        <div [ngClass]="'input-box'">
                               <span [ngClass]="'details'">Password:</span>
                               <input type="text" placeholder="Enter  Your Password" name="Password" ngModel> 
                        </div>

                      <div [ngClass]="'input-box'">
                          <span [ngClass]="'details'">Confirm Password:</span>
                         <input type="text" placeholder="Confirm Password" name="Confirm"ngModel > 
                        </div>

                    <div [ngClass]="'input-box'">
                         <span [ngClass]="'details'">Gender:</span>
                         <input type="text" placeholder="Enter the Gender" name="Gender"ngModel> 
                      </div>

                   <div [ngClass]="'input-box'">
                           <span [ngClass]="'details'">Pincode:</span>
                           <input type="text" placeholder="Enter the Pincode" name="Pincode"ngModel > 
                        </div>

                     <div [ngClass]="'input-box'">
                         <span [ngClass]="'details'">State:</span>
                         <input type="text" placeholder="Enter the state" name="Sate" ngModel> 
                        </div>
                     <div [ngClass]="'input-box'">
                               <span [ngClass]="'details'">Choose a city:</span>
                               <select [ngClass]="'city'" name="city" ngModel>
                              <option>Select the City</option>
                           <option [ngValue]="City" *ngFor="let City of citylist">{{City}}</option>
                            </select>
                       </div>
                  </div>
                   <div class="but">
                         <button type="submit">Register</button>
                     </div>
        
            </form>
     </div>
</body>
</html>
