<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
     <div [ngClass]="'container'">
       <div [ngClass]="'title'">Registration Form</div>
       <form #RefForm ="ngForm" (ngSubmit)=" onSubmit(RefForm)"  >
         <div [ngClass]="'userdetails'">
                  <div [ngClass]="'input-box'">
                    <span [ngClass]="'details'">First Name:</span>
                    <input type="text"  placeholder="Enter  Your Name"  name="first"  ngModel required minlength="4" maxlength="10"> 
                  </div>

                  <div [ngClass]="'input-box'">
                       <span [ngClass]="'details'">Last Name:</span>
                         <input type="text"  placeholder="Enter  Your  Last Name" name="Last" ngModel required  minlength="4" maxlength="10"> 
                   </div>

                      <div [ngClass]="'input-box'">
                           <span [ngClass]="'details'">Email Id:</span>
                           <input type="email" placeholder="Enter  Your Email" name="Email" ngModel required email> 
                       </div>

                      <div [ngClass]="'input-box'">
                        <span [ngClass]="'details'">Phone No:</span>
                           <input type="tel" placeholder="Enter Your Number"  name="Number" ngModel  required pattern= "[789][0-9]{9}" > 
                     </div>
  

                        <div [ngClass]="'input-box'">
                               <span [ngClass]="'details'">Password:</span>
                               <input type="password"id="Password" placeholder="Enter  Your Password" name="Password" ngModel  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"> 
                        </div>

                      <div [ngClass]="'input-box'">
                          <span [ngClass]="'details'">Confirm Password:</span>
                         <input type="password" id ="Confirm" placeholder="Confirm Password" name="Confirm" ngModel   required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"> 
                         
                        </div>

                    <div [ngClass]="'input-box'">
                         <span [ngClass]="'details'">Gender:</span>
                         <input type="gender" placeholder="Enter the Gender" name="Gender"ngModel  required> 
                      </div>

                   <div [ngClass]="'input-box'">
                           <span [ngClass]="'details'">Pincode:</span>
                           <input type="number" placeholder="Enter the Pincode" name="Pincode"ngModel  required> 
                        </div>

                     <div [ngClass]="'input-box'">
                         <span [ngClass]="'details'">State:</span>
                         <input type="text" placeholder="Enter the state" name="State" ngModel  required>  
                        </div>
                     <div [ngClass]="'input-box'">
                               <span [ngClass]="'details'">Choose a city:</span>
                               <select [ngClass]="'city'" name="city" ngModel>
                              <option>Select the City</option>
                           <option [ngValue]="City" *ngFor="let City of citylist">{{City}}</option>
                            </select>
                       </div>
                  </div>
                   <div class="but">
                         <button type="submit" [disabled]="!RefForm.valid">Register</button>
                     </div>
        
            </form>
     </div>
</body>
</html>
